body{
	background-color: #FFE4C4
}
.bordure{border: 2px solid #DFF2FF;
	background-color: white
}
.bordure1{
	border: 3px solid #E73E01;
	background-color: white;
	margin-left: 300px;
	margin-right: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bordure2{
	border: 5px solid #DFF2FF;
	background-color: white;

}
h2{
	text-transform: 
}
li , h4{
	font-size: 20px;
}
span{
	display: block;
	font-size: 25px;
	padding-left: 100px;
}