body{
	background-color: #FFE4C4
}
.bordure{border: 2px solid #DFF2FF;
	background-color: white
}
.bordure1{
	border: 5px solid #E73E01;
	background-color: white;
	margin-left: 300px;
	margin-right: 300px;
}
h2{
	text-transform: 
}
li{
	font-size: 20px;
}
span{
	display: block;
	font-size: 20px;
	padding-left: 100px;
}